cycler==0.10.0
kiwisolver==1.1.0
numpy==1.22.0
opencv-python==4.8.1.78
Pillow==10.3.0
pyparsing==2.4.5
python-dateutil==2.8.1
six==1.13.0
bleach==3.3.0
cycler==0.10.0
html5lib==0.999999999
joblib==1.2.0
Keras==3.12.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1+2600.gd41775327.dirty
numpy==1.22.0
opencv-python==4.8.1.78
pandas==0.25.3
Pillow==10.3.0
protobuf==4.25.8
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
scikit-learn==1.5.0
scipy==1.10.0
six==1.13.0
sklearn==0.0
tensorflow==2.12.1
tensorflow-tensorboard==0.1.8
Werkzeug==3.1.4
